{% extends "caravan/base.html" %}
{% from "caravan/macros.html" import owner %}

{% block forma %}

    <form class="contact-form" id="contact-form" method="post" action="">
        {{ form.csrf_token() }}
        <div class="row my-form">
            <div class="col-12 col-md-6">
                <p class="help-block text-danger"></p>
                {{ form.first_name(class="form-control", placeholder="Vaše meno *", required="required") }}
            </div>
            <div class="col-12 col-md-6">
                {{ form.last_name(class="form-control", placeholder="Vaše priezvisko") }}
            </div>
            <div class="col-12 col-md-6">
                {{ form.email(class="form-control", placeholder="Váš E-mail *", required="required") }}
            </div>
            <div class="col-12 col-md-6">
                {{ form.subject(class="form-control", placeholder="Predmet správy *", required="required") }}
            </div>
            <div class="col-12">
                {{ form.message(class="form-control", placeholder="Vaša správa *", rows="6", required="required") }}
            </div>
{#            {{ form.recaptcha }}#}
            <div class="col-12">
{#                <button class="btn anim-btn rounded-pill user-contact" type="submit">#}
                    {{ form.submit(class="btn anim-btn rounded-pill user-contact") }}
{#                    SUBMIT<span></span><span></span><span></span><span></span><span></span>#}
{#                </button>#}
            </div>
        </div>
    </form>

    <div id="msg"></div>

{% endblock %}