<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags For Seo + Page Optimization -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="DEILMANN s.r.o.">
    <!-- description -->
    <meta name="description" content="">
    <!-- keywords -->
    <meta name="keywords" content="">
    <!-- Page Title -->
    {% if title %}
        <title>{{ title }}-karavan | DEILMANN s.r.o.</title>
    {% else %}
        <title>Obytné prívesy | DEILMANN s.r.o.</title>
    {% endif %}
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='agency/images/favicon.ico') }}">
    <!--css links-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendor/css/bundle.min.css') }}">
    <!-- main style-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'agency/css/style.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<!--Pricing section start-->
<section id="pricing-sec" class="pricing-sec">
    <div class="container">
        <div class="row pricing-cards">
            <div class="col-12 col-lg-4 p-card">
                <div class="pricing-card">
<h4 class="pricing-heading text-center text-md-left">{{ model.models_name }}</h4>
<div class="row no-gutters price-info text-center text-md-left">
    <div class="col-12 col-md-6 price-tag">
        <span class="p-icon"><i class="las la-euro-sign"></i></span>
        <span class="p-price">{{ price }}</span>
    </div>
    <div class="col-12 col-md-6 price-text">
        <div class="price-img">
            <img src="{{ url_for('static', filename='agency/images/' ~ model.models_description) }}" alt="">
        </div>
    </div>
</div>

<hr>
{{ data_request }}
<hr>

<form class="caravan-price" action="" method="post">
    {{ form.csrf_token() }}
    <input type="hidden" name="checked_options" value="{{ data_request }}">
    <ul class="feature-list">
        <li><label class="custom-checkbox">{{ form.heater(data_price='100') }}<span>Heater<img src="{{ url_for('static', filename='agency/images/heater.png') }}" alt="Heater"></span></label></li>
        <li><label class="custom-checkbox">{{ form.hatch_fan(data_price='200') }}<span>Roof hatch fan<img src="{{ url_for('static', filename='agency/images/hatch-fan.png') }}" alt="Roof hatch fan"></span></label></li>
        <li><label class="custom-checkbox">{{ form.caravan_cover(data_price='300') }}<span>Caravan cover<img src="{{ url_for('static', filename='agency/images/caravan-cover.png') }}" alt="Caravan cover"></span></label></li>
        <li><label class="custom-checkbox">{{ form.support_legs(data_price='300') }}<span>Trailer support legs<img src="{{ url_for('static', filename='agency/images/support-legs.png') }}" alt="Trailer support legs"></span></label></li>
        <li><label class="custom-checkbox">{{ form.roof_rack(data_price='200') }}<span>Roof rack cross bars<img src="{{ url_for('static', filename='agency/images/roof-rack.png')}}" alt="Roof rack cross bars"></span></label></li>
        <li><label class="custom-checkbox">{{ form.tv(data_price='150') }}<span>TV<img src="{{ url_for('static', filename='agency/images/TV.png')}}" alt="TV"></span></label></li>
        {{ form.color(value='') }}
        <li><button type="button" class="btn btn-warning btn-sm btn-color btn-choose-color" data-toggle="modal" data-target="#chooseColor" data-id_modal="0">Choose a color</button></li>

        {% for radio_chassis in form.chassis %}
            {% if radio_chassis.id == 'chassis-0' %}
                <li><label class="custom-radio">{{ radio_chassis(data_price='1000') }}<span>Without chassis<img src="{{ url_for('static', filename='agency/images/no-chassis.png') }}" alt="Without chassis"></span></label></li>
            {% else %}
                <li><label class="custom-radio">{{ radio_chassis(data_price='1500') }}<span>With chassis<img src="{{ url_for('static', filename='agency/images/with-chassis.png') }}" alt="With chassis"></span></label>
                    <ul class="feature-list brake">
                        <li><label class="custom-checkbox">{{ form.parking_brake(data_price='500') }}<span>With parking brake<img src="{{ url_for('static', filename='agency/images/parking-brake-2.jpg')}}" alt="Parking brake"></span></label></li>
                        <li><label class="custom-checkbox">{{ form.spare_tire(data_price='100') }}<span>Spare tire<img src="{{ url_for('static', filename='agency/images/spare-tire.png') }}" alt="Spare tire"></span></label></li>
                    </ul>
                </li>
            {% endif %}
        {% endfor %}

        {{ form.price(value='') }}
        {{ form.model_id(id=model.models_id, value=model.models_id) }}
    </ul>
    <ul class="feature-list">
        {% if form.first_name.errors %}
            {{ form.first_name(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.first_name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.first_name(class="form-control") }}
        {% endif %}
{#        <li>{{ form.first_name() }}</li>#}
        <li>{{ form.last_name() }}</li>
        <li>{{ form.email() }}</li>
        <li>{{ form.phone() }}</li>
        <li>{{ form.billing_address() }}</li>
        <li>{{ form.type_of_document(placeholder='Passport or ID etc.') }}</li>
        <li>{{ form.document() }}</li>
    </ul>
    {{ form.submit() }}
</form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer sec start-->
<div class="footer-sec" id="footer-sec">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="social-icons d-flex">
                        <a href="javascript:void(0)" class="wow fadeInUp"><i class="lab la-facebook-f"></i> </a>
                        <a href="javascript:void(0)" class="wow fadeInDown"><i class="lab la-twitter"></i> </a>
                        <a href="javascript:void(0)" class="wow fadeInUp"><i class="lab la-google"></i> </a>
                        <a href="javascript:void(0)" class="wow fadeInDown"><i class="lab la-linkedin-in"></i> </a>
                        <a href="javascript:void(0)" class="wow fadeInUp"><i class="lab la-instagram"></i> </a>
                        <a href="javascript:void(0)" class="wow fadeInDown"><i class="las la-envelope"></i> </a>
                </div>
            </div>
            <div class="col-12">
                <p class="rites text-center small-text">&copy; 2020 DEILMANN s.r.o.</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer sec End -->

<!-- Modal -->
<div class="modal fade" id="chooseColor" tabindex="-1" aria-labelledby="chooseColorLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chooseColorLabel">Какой цвет корпуса вы бы хотели?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="color-block">
                        <input class="color-radio" type="radio" name="color" data-name="Зелений"  value="green">
                        <div class="color-img" style="background-image: url('{{ url_for('static', filename='agency/images/colors/green.png') }}')"></div>
                        <div class="color-text"><p>Зелений</p></div>
                    </label>
                    <label class="color-block">
                        <input class="color-radio" type="radio" name="color" data-name="Асфальт" value="asphalt">
                        <div class="color-img" style="background-image: url('{{ url_for('static', filename='agency/images/colors/asphalt.png') }}')"></div>
                        <div class="color-text"><p>Асфальт</p></div>
                    </label>
                    <label class="color-block">
                        <input class="color-radio" type="radio" name="color" data-name="Болотний" value="marsh">
                        <div class="color-img" style="background-image: url('{{ url_for('static', filename='agency/images/colors/marsh.png') }}')"></div>
                        <div class="color-text"><p>Болотний</p></div>
                    </label>
                    <label class="color-block">
                        <input class="color-radio" type="radio" name="color" data-name="Голубий" value="sky-blue">
                        <div class="color-img" style="background-image: url('{{ url_for('static', filename='agency/images/colors/sky-blue.png') }}')"></div>
                        <div class="color-text"><p>Голубий</p></div>
                    </label>
                </div>
                <div class="row">
                    <label class="color-block">
                        <input class="color-radio" type="radio" name="color" data-name="Жовтий" value="yellow">
                        <div class="color-img" style="background-image: url('{{ url_for('static', filename='agency/images/colors/yellow.png') }}')"></div>
                        <div class="color-text"><p>Жовтий</p></div>
                    </label>
                    <label class="color-block">
                        <input class="color-radio" type="radio" name="color" data-name="Червоний" value="red">
                        <div class="color-img" style="background-image: url('{{ url_for('static', filename='agency/images/colors/red.png') }}')"></div>
                        <div class="color-text"><p>Червоний</p></div>
                    </label>
                    <label class="color-block">
                        <input class="color-radio" type="radio" name="color" data-name="Оранжевий" value="orange">
                        <div class="color-img" style="background-image: url('{{ url_for('static', filename='agency/images/colors/orange.png') }}')"></div>
                        <div class="color-text"><p>Оранжевий</p></div>
                    </label>
                    <label class="color-block">
                        <input class="color-radio" type="radio" name="color" data-name="Сірий" value="grey">
                        <div class="color-img" style="background-image: url('{{ url_for('static', filename='agency/images/colors/grey.png') }}')"></div>
                        <div class="color-text"><p>Сірий</p></div>
                    </label>
                </div>
                <div class="row">
                    <label class="color-block">
                        <input class="color-radio" type="radio" name="color" data-name="Синій" value="blue">
                        <div class="color-img" style="background-image: url('{{ url_for('static', filename='agency/images/colors/blue.png') }}')"></div>
                        <div class="color-text"><p>Синій</p></div>
                    </label>
                    <label class="color-block">
                        <input class="color-radio" type="radio" name="color" data-name="Фіолетовий" value="violet">
                        <div class="color-img" style="background-image: url('{{ url_for('static', filename='agency/images/colors/violet.png') }}')"></div>
                        <div class="color-text"><p>Фіолетовий</p></div>
                    </label>
                    <label class="color-block">
                        <input class="color-radio" type="radio" name="color" data-name="Інший колір" value="another-color">
                        <div class="color-img" style="background-image: url('{{ url_for('static', filename='agency/images/colors/another-color.png') }}')"></div>
                        <div class="color-text"><p>Інший колір</p></div>
                    </label>
                    <label class="color-block">
                        <input class="color-radio" type="radio" name="color" data-name="Хочу свій принт" value="own-print">

                        <div class="color-img" style="background-image: url('{{ url_for('static', filename='agency/images/colors/own-print.png')}}')"></div>
                        <div class="color-text"><p>Хочу свій принт</p></div>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning confirm-color-button" data-id="" data-dismiss="modal">Підтвердити</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal sec End-->

<script src="{{ url_for('static', filename='vendor/js/bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='agency/js/calculator.js') }}"></script>
</body>
</html>