<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags For Seo + Page Optimization -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="DEILMANN s.r.o.">
    <!-- description -->
    <meta name="description" content="">
    <!-- keywords -->
    <meta name="keywords" content="">
    <!-- Page Title -->
    <title>Obytné prívesy | DEILMANN s.r.o.</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='agency/images/favicon.ico') }}">
    <!-- main style-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'agency/css/style.css') }}">
</head>
<body>


<!--header sec start-->
<header>

</header>
<!--header sec end-->

<!-- Main sec start-->
<div>
    <p>Súbory Cookies
        Tento web používa k poskytovaniu služieb, personalizácii reklám a analýze návštevnosti súbory cookie. Používaním tohoto webu s tým súhlasíte.
        Čo sú cookies?
        Cookie je malý súbor tvorený písmenami a číslicami, ktorý počítač s webovou stránkou prostredníctvom prehliadača odosiela do vášho počítača alebo mobilného telefónu (ďalej označovaných ako „zariadenie“) a ukladá na pevnom disku vášho zariadenia. Súbory cookie nám umožňujú rozlíšiť vás od ostatných užívateľov našich webových stránok. Vďaka nim vám môžeme ponúknuť lepšie zážitky pri prehliadaní našich webových stránok a neustále zlepšovať svoje služby.
        Každá webová stránka môže do vášho prehliadača odosielať svoje vlastné súbory cookie, pokiaľ to umožňuje nastavenie vášho prehladača. Váš prehliadač však (v záujme ochrany vášho súkromia) umožňuje webovým stránkam prístup iba k tým súborom cookie, ktoré tieto stránky do vášho zariadenia samé odoslali, nie k súborom cookie odoslaných inými webovými stránkami. Mnohé webové stránky to robia vždy, keď ich užívateľ navštívi. Môžu tak lepšie sledovať on-line prevádzku.
    </p>
</div>
<!--Main sec end-->

<!-- Footer sec start-->

<!-- Footer sec End -->

</body>
</html>